# Project files
.Rproj.user
.Rhistory
.RData
..Rcheck/

# Remake files
.remake/

# Files produced by data system
outputs/
xml/
sample-generator/outputs/
R/*.html

# Vignette files
inst/doc

# Proprietary files
en_nonOECD.*
en_OECD.*

# OS files
.DS_Store
