# Project files
.Rproj.user
.Rhistory
.RData
..Rcheck/

# Remake files
.remake/

# Files produced by data system
outputs/
xml/
sample-generator/outputs/

# R directory files - using data_system_source instead
#R/*.R
R/*.html

# Vignette files
inst/doc
vignettes/intro-luzlogr.html
vignettes/intro-luzlogr.R
tests/testthat/Rplots.pdf
