# Project files
.Rproj.user
.Rhistory
.RData
..Rcheck/
.Rapp.history

# Remake files
.remake/

# Files produced by data system
outputs/
xml/
sample-generator/outputs/
R/*.html

# Vignette files
inst/doc

# Proprietary files
en_nonOECD.*
en_OECD.*

# OS files
.DS_Store

# emacs backup files
*~

# junk produced when developing the python scripts
*pycache*
